:root {
  /* Color styles */
  --light: #fafafa;
  --dark: #222222;

  /* Base font-family */
  --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
